.wd-java {
    border-radius: 100px;
    width: 100%;
    height: 70%;
}

@media (min-width: 992px) {

    .wd-java {
        border-radius: 100px;
        width: 15%;
        height: 60%;

    }
}

.wd-gear-icon {
    position: relative;
    top: 15px;
    left: 40px;
}

.wd-search-icon {
    position: absolute;
    top: 18px;
    left: 50px;
}

.wd-main-img {
    width: 100%;
    height: 100%;
}

.wd-text-overlay {
    position: absolute;
    bottom: 0px;
    left: 5px;
}

.wd-main-text {
    position: absolute;
    bottom: 80px;
    left: 5px;
}

.wd-react {
    width: 100%;
    height: 80%;
}

.wd-overlay-container {
    bottom: 0px;
    left: 20px;
}

.wd-main-container {
    border: solid 1px rgb(47, 51, 54);
    padding: 0px;
}


.wd-entertainment-text {
    border-bottom: solid 2px;
    border-color: rgb(29, 161, 242);
    color: white;
    padding-bottom: 15px;
    border-radius: 2px;
}

.wd-nav {
    border-bottom: 0px;
}

.wd-main-article li {
    background-color: black;
}

.wd-follow li {
    background-color: black;
    color: white;
}

.wd-blue-color {
    color: rgb(29, 161, 242);
}

.wd-saturn {
    width: 5%;
    height: 5%;
}

.wd-post-verified-badge {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 30px;
    display: inline-block;
}

.wd-border-radius {
    border-radius: 20px;
}

.wd-gray-color {
    color: grey;
}

.wd-black-background {
    background-color: black;
}

.wd-follow-color {
    background-color: grey;
}

.wd-search-bar {
    border-color: black;
    background-color: grey;
}

.wd-follow-padding {
    padding-left: 20px;
    padding-right: 20px;
}

.wd-tuit-color {
    background-color: rgb(29, 161, 242);
}
.wd-letter{
    background-color: black;
    width: 13px;
    height: 13px;
}