@media (min-width: 992px) {

    .wd-java {
        border-radius: 100px;
        width: 15%;
        height: 60%;

    }
}

/*.wd-java{*/
/*    border-radius: 100px;*/
/*    width: 100%;*/
/*    height: 70%;*/
/*}*/
.wd-search-icon {
    position: absolute;
    top: 10px;
    left: 30px;
}

.wd-main-img {
    width: 100%;
    height: 100%;
}

.wd-text-overlay {
    position: absolute;
    bottom: 0px;
    left: 5px;
}

.wd-react {
    width: 100%;
    height: 80%;
}

