body {
    background-color: black;
    font-family: Arial;
    color: white;
}

.wd-bookmarks-container {
    margin-left: 12px;
    margin-right: 12px;
    border: solid 1px rgb(47, 51, 54);
    border-right: solid 1px rgb(47, 51, 54);
    border-left: solid 1px rgb(47, 51, 54);
}

.wd-bookmarks {
    border-bottom: solid 1px rgb(47, 51, 54);
}

.wd-bookmark-title {
    font-size: 20px;
    color: white;
    margin-top: 12px;
    margin-left: 16px;

}

.wd-bookmark-handle {
    color: rgb(47, 51, 54);
    font-size: 13px;
    font-weight: bolder;
    margin-left: 16px;
    margin-top: -10px;
}

.wd-profile-img {
    border-radius: 24px;
    width: 48px;
    height: 48px;
    margin-top: 12px;
    margin-left: 16px;
    position: relative;
    top: -650px;
}

.wd-bookmark-author-content {
    display: inline-block;
    width: 506px;
    font-size: 15px;
    color: white;
    margin-left: 12px;
    margin-top: 12px;
    margin-right: 16px;

}

.wd-bookmark-author-content .wd-author-handle {
    color: rgb(47, 51, 54);
    font-size: 15px;
}

.wd-bookmark-author {
    font-size: 15px;
}

.wd-bookmark-content-image {
    width: 504px;
    height: 264px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: solid 1px rgb(47, 51, 54);
}

.wd-image-title {
    font-size: 15px;
    font-weight: bold;
    margin-top: 12px;
}

.wd-img-title-content {
    padding: 12px 12px 12px 12px;
}

.wd-image-desc {
    color: rgb(47, 51, 54);
}

.wd-bookmark-img-title-container {
    border-radius: 20px;
    border: solid 1px rgb(47, 51, 54);
    margin-top: 12px;
}

.wd-symbols {
    text-decoration: none;
    color: white;
    display: inline-block;
    text-align: center;
}

.wd-symbols-container {
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
}

.wd-symbol-number {
    margin-left: 12px;
}

#heart1,#heart2 {
    color: red;
}

.wd-symbol-like {
    width: 15px;
    height: 15px;
}


